<a href="https://colab.research.google.com/github/AzimSova/DS_Science/blob/main/birnichi_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = list('1')
b = list('2')
print(a + b)

['1', '2']

# Heading
[Kirish](https://mohirdev.uz)

-mundarija

In [ ]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import tensorflow as tf
import keras

In [ ]:
tf.__version__

'2.8.0'

In [ ]:
torch.__version__

'1.10.0+cu111'

In [ ]:
np.__version__

'1.21.5'

In [ ]:
import torch
torch.cuda.is_available()

True

In [ ]:
! ls

sample_data

In [5]:
import pandas as pd
files = pd.read_excel('./data/eer.xlsx')

files.head()

,Зарангари Зарангари Зарангари Зарангари Зарангари,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93
0,Фермер хўжалиги номи,Контур рақами,Экин тури,Гектар,Жами,2021-12-06 00:00:00,2021-12-07 00:00:00,2021-12-08 00:00:00,2021-12-09 00:00:00,2021-12-10 00:00:00,...,2022-02-23 00:00:00,2022-02-24 00:00:00,2022-02-25 00:00:00,2022-02-26 00:00:00,2022-02-27 00:00:00,2022-02-28 00:00:00,2022-03-01 00:00:00,2022-03-02 00:00:00,2022-03-03 00:00:00,2022-03-04 00:00:00
1,"""Абулқосим Карим Қобилжон"" ф.х",4177,ХЛПК,3.8,3.8,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,4179,ХЛПК,1.4,1.4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,4193,ХЛПК,5.6,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,4194,ХЛПК,4.3,4.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
! ls

sample_data